# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# Logs
logs/
*.log
yarn.lock
package-lock.json

# Metro bundler cache
.expo/
.expo-shared/
.expo-cli/

# Babel and ESLint cache
.babelrc.js
.babelrc
.eslintcache

# React Native Packager cache
.packager/

# Miscellaneous
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# iOS build files
ios/build/
ios/Pods/
ios/Podfile.lock

# Android build files
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties

# Editor & IDE files
.vscode/
.idea/
*.iml

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Other
debug.keystore
*.keystore
